
            body{
                padding-bottom: 20px;
                padding-top: 100px;
            }
            .container1{
                position: fixed;
                top: 0px;
                left: 0px;
                right: 0px;
                height: 80px;
                background-color: rgb(125, 148, 130);

            }
            .headp{
                
                margin-left: 520px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-style: oblique;
                width: 400px;
                color: rgb(57, 226, 108);
            }
        
            .container2{
                display:flex;
                grid-template-columns:300px 300px 300px ;
                margin-bottom: 10px;
                margin-left: 30px;
                margin-right: 20px;
            }
            .con2div1{
               height: 400px;
               margin-right: 10px;
               margin-left: 10px;
               border: solid;
                border-color: rgb(204, 196, 196);
              
                
            }
            .div1second{
                display: flex;
                justify-content: space-between;
                background-color: rgb(230, 237, 240);
                height:100px;
               
                
             }
            .buynow{
               margin-top: 20px;
               margin-left: 130px;
               margin-bottom: 20px;
                width: 150px;
                padding: 8px;
                border-radius: 20px;
                background-color: rgb(44, 182, 17);

            }
            p{
                display: inline-block;
                margin-right: 10px;
                font-size: 20px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: rgb(165, 165, 187);
                text-decoration: underline;
                border-radius: 5px;
               
                border-color: rgb(143, 141, 141);


            }
            
            img{
                width: 400px;
                height: 300px;
                margin-right:10px;
                margin-right: 0px;
              
            }
        
            .buttonp{
                font-size: 25px;
                font-family: Tahoma, sans-serif;

            }
            .imagbutton{
                display: inline-block;
                width: 405px;
                border-color: rgb(136, 129, 129);
                margin: 0px;
                padding: 0px;
                
            }
        
        